PORT=
DB_HOST=

//DEV
DEV_JWT_ACCESS_SECRET=
DEV_JWT_REFRESH_SECRET=
DEV_SMTP_HOST=
DEV_SMTP_PORT=
DEV_SMTP_USER=
DEV_SMTP_PASSWORD=

//URLS
DEV_API_URL=http://localhost:3000
DEV_CLIENT_URL=http://localhost:3001


///PROD